@charset"UTF-8";

::-webkit-scrollbar	{display: none;
			 -webkit-appearance: none}

body	{margin: 0;
	 font-family:'Tahoma',Gothic}

h2	{font-family: 'Bitter', serif;}

.back	{padding-bottom: 50px}

.back a {font-size: 18px;
	 border: solid 1px #000000;
	 padding: 5px;
	 color: #77B4BE;
	 text-decoration: none;
	 border-radius: 5px}


.back a:active {color: #ffffff;
		background-color: rgba(0,0,0,0.2)}

/*タイトル*/
.toping		{max-width: 100%;
 		 height: auto;
  		 margin-left: auto;
		 margin-right: auto;
		 vertical-align: bottom}

/*ボックスの設定*/
.box2		{background-color: #FBFBFB}

.box2-1,.box2-2,.box2-3,.box2-4,.box2-5,.box2-6		{width: 480px;
					 height: 280px;
					 margin-left: auto;
					 margin-right: auto}

.box3	{padding-top: 50px;
	 background-color: #FDFDFD;
	 clear: both}

/*ボックス2内カテゴリー*/
.mylogo img	{width: 450px;
		 height: 260px}

.bar img	{width: 450px;
		 height: 260px}

.hobby img	{width: 450px;
		 height: 260px}

.prof img 	{width: 450px;
		 height: 260px}

.lp img 	{width: 450px;
		 height: 260px}

.unfinished img 	{width: 450px;
		 height: 260px}

/*mylogoカーソル合わせ*/
.mylogo			{overflow: hidden;
		 	 position: relative;}

.mylogo .mask	{width: 100%;
		 	 height: 100%;
		 	 position: absolute;
		 	 top: 0;
		 	 left: 0;
		 	 opacity: 0;	/* マスクを表示しない */
		 	 background-color: rgba(0,0,0,0.4);
		 	 -webkit-transition: all 0.6s ease;
		 	 transition: all 0.6s ease}

.mylogo:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 padding-left: 130px;	/* 右にずらす */}

/*barカーソル合わせ*/
.bar		{overflow: hidden;
		 position: relative;}

.bar .mask	{width: 100%;
		 height: 100%;
		 position: absolute;
		 top: 0;
		 left: 0;
		 opacity: 0;	/* マスクを表示しない */
		 background-color: rgba(0,0,0,0.4);
		 -webkit-transition: all 0.6s ease;
		 transition: all 0.6s ease}

.bar:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 padding-left: 90px;	/* 右にずらす */}

/*hobbyカーソル合わせ*/
.hobby		{overflow: hidden;
		 position: relative;}

.hobby .mask	{width: 100%;
		 height: 100%;
		 position: absolute;
		 top: 0;
		 left: 0;
		 opacity: 0;	/* マスクを表示しない */
		 background-color: rgba(0,0,0,0.4);
		 -webkit-transition: all 0.6s ease;
		 transition: all 0.6s ease}

.hobby:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 padding-left: 140px;	/* 右にずらす */}

/*profカーソル合わせ*/
.prof		{overflow: hidden;
		 	 position: relative;}


.prof .mask	{width: 100%;
		 	 height: 100%;
		 	 position: absolute;
		 	 top: 0;
		 	 left: 0;
		 	 opacity: 0;	/* マスクを表示しない */
		 	 background-color: rgba(0,0,0,0.4);
		 	 -webkit-transition: all 0.6s ease;
		 	 transition: all 0.6s ease}

.prof:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 	 padding-left: 120px;	/* 右にずらす */}

/*lpカーソル合わせ*/
.lp			{overflow: hidden;
		 	 position: relative;}

.lp .mask	{width: 100%;
		 	 height: 100%;
		 	 position: absolute;
		 	 top: 0;
		 	 left: 0;
		 	 opacity: 0;	/* マスクを表示しない */
		 	 background-color: rgba(0,0,0,0.4);
		 	 -webkit-transition: all 0.6s ease;
		 	 transition: all 0.6s ease}

.lp:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 padding-left: 85px;	/* 右にずらす */}


/*unfinishedカーソル合わせ*/
.unfinished			{overflow: hidden;
		 	 position: relative;}

.unfinished .mask	{width: 100%;
		 	 height: 100%;
		 	 position: absolute;
		 	 top: 0;
		 	 left: 0;
		 	 opacity: 0;	/* マスクを表示しない */
		 	 background-color: rgba(0,0,0,0.4);
		 	 -webkit-transition: all 0.6s ease;
		 	 transition: all 0.6s ease}

.unfinished:hover  .mask		{opacity: 1;	/* マスクを表示する */
		     	 	 padding-left: 90px;	/* 右にずらす */}


/*全カーソル合わせ*/
.caption		 {font-size: 200%;
		 	  color: #fff;
		 	  padding-top: 120px;
			  padding-left: 30px}

/*box2ボックスを重ねる設定*/
.box2-1		{position: relative}

.mylogo		{position: absolute}

.box2-2		{position: relative}

.bar		{position: absolute}

.box2-3		{position: relative}

.hobby		{position: absolute}

.box2-4		{position: relative}

.prof		{position: absolute}

.box2-5		{position: relative}

.lp		{position: absolute}

.box2-6		{position: relative}

.unfinished	{position: absolute}

/*box3を重ねる設定*/
.box3-0		{position: relative;}

.ja		{position: absolute;
		 bottom: 0;
   		 right: 250px;
		 padding-top: 5px;
		 width: 80px;
		 height: 25px;
		 border-radius: 5px 5px 0 0;
		 text-align: center}

.box3-1		{position: relative;}

.me		{position: absolute;
		 bottom: 0;
   		 right: 150px;
		 padding-top: 5px;
		 width: 80px;
		 height: 25px;
		 border-radius: 5px 5px 0 0;
		 text-align: center}

.box3-2		{position: relative}

.ig		{position: absolute;
		 bottom: 0;
 		 right: 50px;
		 padding-top: 5px;
		 width: 80px;
		 height: 25px;
		 border-radius: 5px 5px 0 0;
		 text-align: center}

/*box3のボタン設定*/
.ja	{border-bottom: 0.1875em solid #C8C8C8;
  	 cursor: pointer;
  	 transition: all 0.3s ease 0s;
  	 background-color: #E6E6E6;
  	 color: #303030}

.ja:hover	{border-bottom-color: transparent;
  		 transform: translateY(0.1875em)}

.me	{border-bottom: 0.1875em solid #C8C8C8;
  	 cursor: pointer;
  	 transition: all 0.3s ease 0s;
  	 background-color: #E6E6E6;
  	 color: #303030}

.me:hover	{border-bottom-color: transparent;
  		 transform: translateY(0.1875em)}

.ig	{border-bottom: 0.1875em solid #C8C8C8;
  	 cursor: pointer;
  	 transition: all 0.3s ease 0s;
  	 background-color: #E6E6E6;
  	 color: #303030}

.ig:hover	{border-bottom-color: transparent;
  		 transform: translateY(0.1875em)}


/*siteトップ*/
.site h1	{margin-top: 100px;
		 margin-left: 70px}

.site img	{border: none}

/*mylogoページ*/
.boxB		{margin-top: 80px;
		 margin-right: auto;
		 margin-left: auto}


.mylogopage	{height: auto;
		 margin-bottom: 100px}

.mylogopage p	{width: 440px;
		 font-size: 15px}

/*virtualthemeページ*/

h4		{margin-bottom: 0}

.theme 		{width: 800px;
		 height: auto;
		 padding-left: 35px;
		 padding-right: 20px;
		 margin-bottom: 100px;
		 margin-top: 100px;
		 margin-left: auto;
		 margin-right:auto;
		 border: solid 1px #303030}

.theme p	{margin-top: 5px}

/*完成画像*/
.kansei img	{width: 350px;
		 height: auto}

.kansei 	{width: 300px;
		 margin-left: auto;
		 margin-right: auto;
		 margin-bottom: 200px}

/*解説*/
.symbol		{margin-bottom: 30px;
		 overflow: hidden}

.symbol	img	{float: left;
		 margin-right: 100px}

.symbol p	{width: 650px;
		 }

.typo 		{clear: both;
		 overflow: hidden;
		 margin-bottom: 200px}

.typo img	{width: 220px;
		 height: auto;
		 float: left;
		 margin-right: 80px}

.typo p		{width: 740px;
		 padding-top: 20px}

/*合成画像*/

.gousei1,.gousei2	{width: 250px;
		 	 height: auto}


.simulation	{overflow: hidden;
		 position: relative;
		 width: 500px;
		 height: 500px;
		 margin-left: auto;
		 margin-right: auto;
		 margin-bottom: 50px}

.gousei2	{position: absolute;
	  	 top: 200px;
		 right: 100px}

.simulation p	{position: relative;
		 font-size: 13px;
		 width: 500px;
		 top: 200px;
		 left: 50px}

/*バナー*/


/*ホビー*/
.hobbypage a 	{text-decoration: none}

.sakuhin ul	{margin-left: auto;
		 margin-right: auto}

.sakuhin ul 	{list-style-type: none;
         width: 400px;
         display: grid;
         grid-gap: 1rem;
         grid-template-columns: 2fr 1fr 1.5fr;
         grid-template-rows: 180px 90px 135px 100px 120px}

.sakuhin li	{font-size: 26px;
         background-color: lightgray;
         border: solid 1px black}
        
.la_1	{grid-row: 1 / span 2;
	 background-image: url(yasuya.jpg);
	 background-size: cover}
        
.la_2	{grid-column: 2 / span 2;
	 background-image: url(mori.jpg);
	 background-size: cover}

.la_3   {background-image: url(tukineko.jpg);
	 background-size: cover}
        
.la_4	{background-image: url(denkyuu.jpg);
	 background-size: cover}

.la_5 	{grid-row: 3/ span 2; grid-column: 1 / span 2;
	 background-image: url(kawa.jpg);
	 background-size: cover}

.la_6	{background-image: url(cop.jpg);
	 background-size: cover}
        
.la_7	{grid-row: 4 / span 2;
	 background-image: url(banana.jpg);
	 background-size: cover}

.la_8	{background-image: url(isihanabi.jpg);
	 background-size: cover}

.la_9	{background-image: url(momijikawa.jpg);
	 background-size: cover}

.sakuhin li span {display: inline-block;
		  text-indent: -9999px}

/*meページ*/
.workspeace	{width: 40%;
		 height: auto}

.workspeace img {width: 100%}

.history	{width: 100%;
		 margin-left: auto;
		 margin-right: auto;
		 font-size: 14px}

/*Profileページ*/
.syumi h3	{font-family: "Sawarabi Mincho"}



.syumi ul	{list-style-type: circle;
		 font-size: 15px;
		 margin: 0}

.like h3	{font-family: "Sawarabi Mincho"}


.like ul	{list-style-type: circle;
		 font-size: 15px;
		 margin: 0}

.manga h3	{font-family: "Sawarabi Mincho"}


.manga ul	{list-style-type: circle;
		 font-size: 15px;
		 margin: 0}

/*lpページ*/
.human img {width: 100%;
            border: solid 1px #707070;
            margin-top: 100px}

.human p {font-size: 15px}

.colors {display: flex}


.list-web {border-bottom: solid 2px #B2DBF8}

.list-cad {border-bottom: solid 2px #F5D2AA}

.list-keiri  {border-bottom: solid 2px #BFFFC4}

.list-iryou {border-bottom: solid 2px #FFD8F1}

.syoku {margin-top: 0}

.syoku li {padding-top: 10px} 



/*########## 320px以上～413px以下##########*/
@media (min-width: 320px) and (max-width: 413px){

.box2-1,.box2-2,.box2-3,.box2-4,.box2-5,.box2-6	{width: 300px;
		 	 		 height: 170px}

.box3	{margin-bottom: 40px}

.boxB	{width: 310px;
	 margin-left: auto;
	 margin-right: auto}

.mylogo img		{width: 300px;
		 	 height: 170px}

.bar img		{width: 300px;
		 	 height: 170px}

.hobby img		{width: 300px;
		 	 height: 170px}

.prof img		{width: 300px;
		 	 height: 170px}

.lp img		{width: 300px;
		 	 height: 170px}

.unfinished img		{width: 300px;
		 	 height: 170px}

.mylogo,.bar,.hobby,.prof,.lp,.unfinished 		{width: 300px;
		 	 			 height: 170px}

/*mylogopageのレスポンシブ*/
.site h1	{margin-left: 20px}

.mylogopage img		{width: 250px}

.mylogopage p 		{width: 220px;
			 font-size: 12px;
			 margin-top: 40px;
			 margin-left: 0}

/*themeのレスポンシブ*/
h2	{padding-left: 30px}

.theme	{width: 280px;
	 margin-left: auto;
	 margin-right:auto}


.theme p	{font-size: 14px}

.kansei img	{width: 200px;
		 height: auto;
		 padding-left: 30px}



.symbol img	{width: 100px;
		 margin-left: 50px}

.symbol p 	{width: 200px;
		 font-size: 10px;
		 clear: both;
		 margin-left: 60px;
		 padding-top: 10px}

.typo img	{width: 100px;
		 margin-left: 80px}

.typo p 	{width: 200px;
		 font-size: 10px;
		 clear: both;
		 margin-left: 60px;
		 padding-top: 10px}

.simulation img	{width: 300px}

img.gousei1 	{width: 200px;
		 padding-left: 25px}

img.gousei2	{width: 200px;
		 top: 150px;
		 left: 100px}

.simulation p	{left: 0px;
		 font-size: 10px}

.banner		{width: 270px;
		 margin-left: auto;
		 margin-right: auto}


.banner img	{width:250px}

.banner p	{width: 300px;
		 font-size: 10px}

/*hobbypage*/
.hobbypage p	{width: 310px;
		 font-size: 9px;
		 padding-left: 10px}

.sakuhin ul	{width: 270px;
	 grid-template-rows: 100px 50px 75px 60px 70px}

.boxB	{width: 280px;
	 margin-left: auto;
	 margin-right: auto;
	 padding-left: 0}

/*meページ*/
.syumi h3	{font-size: 15px}

.syumi ul	{font-size: 14px}

.like h3	{font-size: 15px}

.like ul	{font-size: 14px}

.manga h3	{font-size: 15px}

.manga ul	{font-size: 14px}

/*lpページ*/
.shiyou-soft {font-size: 12px}

.human p {font-size: 12px}

.syoku li {font-size: 10px}

} 
/*########## 414px以上～599px以下##########*/
@media (min-width: 414px) and (max-width: 600px){

/*ボックス2内レスポンシブ*/
.box2-1,.box2-2,.box2-3,.box2-4,.box2-5,.box2-6	{width: 340px;
		 	 		 height: 200px}

.box3	{margin-bottom: 40px}

.mylogo img		{width: 340px;
		 	 height: 200px}

.bar img		{width: 340px;
		 	 height: 200px}

.hobby img		{width: 340px;
		 	 height: 200px}

.prof img		{width: 340px;
		 	 height: 200px}

.lp img		{width: 340px;
		 	 height: 200px}


.unfinished img		{width: 340px;
		 	 height: 200px}


.mylogo,.bar,.hobby,.prof,.lp,.unfinished 		{width: 340px;
		 	 			 height: 200px}

/*カーソル合わせ*/
.caption		 {font-size: 150%;
		 	  color: #fff;
		 	  padding-top: 90px;
			  padding-left: 0px}

/*mylogopageレスポンシブ*/
h2		{margin-left: 30px}

.mylogopage img		{width: 300px}

.mylogopage p 		{width: 290px;
			 margin-top: 50px;
			 padding-right: 20px}

/*themeのレスポンシブ*/
h2	{padding-left: 60px}

.theme	{width: 390px;
	 margin-left: auto;
	 margin-right:auto}


.theme p	{font-size: 14px}

.kansei img	{width: 300px;
		 height: auto;
		 padding-left: 30px}



.symbol img	{width: 200px;
		 margin-left: 50px}

.symbol p 	{width: 300px;
		 font-size: 12px;
		 clear: both;
		 margin-left: 60px;
		 padding-top: 10px}

.typo img	{width: 200px;
		 margin-left: 80px}

.typo p 	{width: 350px;
		 font-size: 12px;
		 clear: both;
		 margin-left: 60px;
		 padding-top: 10px}

.simulation img	{width: 400px}

img.gousei1 	{width: 250px;
		 padding-left: 25px}

img.gousei2	{width: 250px;
		 top: 170px;
		 left: 140px}

.simulation p	{left: 0px;
		 font-size: 10px}

.banner		{width: 400px;
		 margin-left: auto;
		 margin-right: auto}

.banner img	{width:250px}

.banner p	{font-size: 12px;
		 width: 400px}

.boxB		{width: 400px}

.hobbypage p	{width: 380px;
		 font-size: 12px;
	 	 padding-left: 30px}


/*meページ*/
.syumi h3	{font-size: 15px}

.syumi ul	{font-size: 14px}

.like h3	{font-size: 15px}

.like ul	{font-size: 14px}

.manga h3	{font-size: 15px}

.manga ul	{font-size: 14px}


}

/*########## 600px以上##########*/
@media (min-width: 600px){
.boxB	{width: 500px}

.symbol p	{width: 500px;
		 font-size: 11px}

.typo p		{width: 500px;
		 font-size: 11px}

.theme	{width: 480px}

.banner img	{width: 400px}

h2	{margin-left: 30px}

.hobbypage p {padding-left: 30px;
	      font-size: 14px}

.sakuhin ul 	{width: 500px}

/*meページ*/
.workspeace	{width: 50%;
		 float: left;}

.syumi h3	{font-size: 15px}

.syumi ul	{font-size: 12px}

.like h3	{font-size: 15px}

.like ul	{font-size: 12px}

.manga h3	{font-size: 15px}

.manga ul	{font-size: 12px}

}

/*########## 718px以上##########*/
@media (min-width: 718px){
.boxB	{width: 600px}

.theme	{width: 580px}

.symbol p	{width: 600px;
		 font-size: 14px}

.typo img		{height: 150px}

.typo p	{width: 600px;
		 font-size: 14px}



.sakuhin ul	{width: 700px;
	 grid-template-rows: 300px 200px 250px 100px 250px}

.history	{margin-bottom: 50px}

/*meページ*/
.syumi		{overflow: hidden}


.like		{overflow: hidden}

.manga		{overflow: hidden}


.syumi h3	{font-size: 16px}

.syumi ul	{font-size: 13px}

.like h3	{font-size: 16px}

.like ul	{font-size: 13px}

.manga h3	{font-size: 16px}

.manga ul	{font-size: 13px}


}


/*########## 999px以下##########*/
@media (max-width: 999px){

/*box2のスペース*/
.box2-1		{margin-bottom: 30px;
		 padding-top:30px}

.box2-2		{padding-bottom: 30px}

.box2-3		{margin-bottom: 30px}

.box2-4		{padding-bottom: 30px}

.box2-5		{padding-bottom: 30px}

.box2-6		{padding-bottom: 30px}

.mylogopage p	{margin-left: 10%;
		 margin-right:10%}

.mylogopage h2	{padding-left: 50px}

/*ヴァーチャルテーマ*/


/*meページ*/

}

/*########## 1000px以上##########*/
@media (min-width: 1000px){

/*lp*/
.syoku li br {display: none}

/*box2を横に並べる設定*/
.box2:after	{content: "";
		 display: block;
 	 	 clear: both}
	
.box2-1		{float: left;
                width: 50%; 
 		height: 400px}	

.box2-2		{float: left;
		 width: 50%;
                 height: 400px}

.box2-3		{float: left;
		 width: 50%;
                 height: 400px}

.box2-4		{float: left;
		 width: 50%;
                 height: 400px}

.box2-5		{float: left;
		 width: 50%;
                 height: 400px}

.box2-6		{float: left;
		 width: 50%;
                 height: 400px}

/*box2カテゴリ内のスペース*/
.mylogo		{bottom: 10%;
    		 left: 50%;
		 transform: translate(-50%,-10%);
    		 -webkit-transform: translate(-50%,-10%);
    		 -ms-transform: translateX(-50%,-10%)}

.bar		{bottom: 15%;
    		 left: 50%;
   		 transform: translate(-50%,-15%);
    		 -webkit-transform: translate(-50%,-15%);
    		 -ms-transform: translateX(-50%,-15%)}

.hobby		{bottom: 15%;
    		 left: 50%;
   		 transform: translate(-50%,-15%);
    		 -webkit-transform: translate(-50%,-15%);
    		 -ms-transform: translate(-50%,-15%)}

.prof	{bottom: 15%;
    		 left: 50%;
   		 transform: translate(-50%,-15%);
    		 -webkit-transform: translate(-50%,-15%);
    		 -ms-transform: translate(-50%,-15%)}

.lp	{bottom: 10%;
    		 left: 50%;
   		 transform: translate(-50%,-10%);
    		 -webkit-transform: translate(-50%,-10%);
    		 -ms-transform: translate(-50%,-10%)}

.unfinished	{bottom: 15%;
    		 left: 50%;
   		 transform: translate(-50%,-15%);
    		 -webkit-transform: translate(-50%,-15%);
    		 -ms-transform: translate(-50%,-15%)}

/*mylogoページ*/
.boxB		{width: 800px}


.mylogopage p	{width: 600px;
		 font-size: 16px; 
		 padding-left: 250px}



/*box3スペース調整*/
.box3		{padding-top: 50px}

/*bar*/
.symbol p	{width: 800px;
		 font-size: 16px}


.typo p	{width: 800px;
		 font-size: 16px}


/*重ねる設定*/
.boxJ:after	{content:"";
		 display: block;
		 clear: both}

.box5		{float: left;
		 width: 50%;
		 padding-right: 10px;
		 -moz-box-sizing: border-box;
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box}

.box5 img	{max-width: 100%;
		 height: 230px}

.box5 p		{width: 300px;
		 margin-left: auto;
		 margin-right: auto}

.box6		{float: left;
		 width: 50%;
		 padding-left: 10px;
		 -moz-box-sizing: border-box;
		 -webkit-box-sizing: border-box;
		 box-sizing: border-box}

.box6 img	{max-width: 100%;
		 height: 230px}

.box6 p		{width: 300px;
		 margin-left: auto;
		 margin-right: auto}

.boxK:after	{content:"";
		 display: block;
		 clear: both}

.box7		{float: left;
		 width: 33.3333%}

.box7 img	{max-width: 100%}

.box8		{float: left;
		 width: 33.3333%}

.box8 img	{max-width: 100%}

.box9		{float: left;
		 width: 33.3333%}

.box9 img	{max-width: 100%}


.theme		{width: 800px}

.banner		{width: 700px;
		 margin-left: auto;
		 margin-right: auto;
		 margin-bottom: 50px}

.banner h2	{margin-bottom: 50px}

.banner p	{margin-bottom: 30px;
		 font-size: 14px}


.sakuhin ul	{width: 900px}

/*meページ*/
.workspeace	{width: 50%}

.syumi ul	{font-size: 15px}

.like ul	{font-size: 15px}

.manga ul	{font-size: 15px}

}